.product{
    img{
        width: 100%;
    }

    h6{
        color: cadetblue;
    }

    .price{
        font-size: 2rem;
    }
}

.edit-product{
    .btn-sm{
        width: 120px;
        padding: 0.6rem;
        border-radius: 20px;
        border: 0px;
    }
}