.product-form{
    background-color: aliceblue;
    border-radius: 20px;
}

.back-btn{
    width: 120px;
    padding: 0.6rem;
    border-radius: 20px;
    border: 0px;
    background-color: gray;
    color: white;
}